<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>

<body>

    <div class="homepageContainer">



        <h1 class="welcome">Welcome to the Typing Game!</h1>

        <div class="homepagecontainer">
            <a href="/typinggame"><button class="playbutton">Typing Game</button></a>
            <a href="/singleword"><button class="playbutton">Speed Typing</button></a>
            <a href="/leaderboard"><button class="leaderboardbutton">Leaderboard</button></a>

        </div>
    </div>


</body>

</html>
