<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>

<body>


    <div class="page">

        <div class="home">
            <a href="/homepage"><button class="playbutton">homepage</button></a>
        </div>



        <div class="wrapper">


            <input type="text" class="input_field">

            <div class="contentBox">
                <div class="typingText">
                    <p id="paragraph"></p>
                </div>

                <div class="content">
                    <ul class="result">
                        <li>
                            <p>Time: <span id="time">60</span>s</p>
                        </li>
                        <li>
                            <p>Mistakes: <span id="mistakes">0</span></p>
                        </li>
                        <li>
                            <p>WPM: <span id="wpm">0</span></p>
                        </li>
                    </ul>

                    <button>Restart</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
